@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,main{margin:0;padding:0;border:0;outline:0;display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]),[hidden]{display:none}
body{background:#eee;-webkit-background-size:cover !important;-moz-background-size:cover !important;background-size:cover !important;color:#333;font:14px/1.5 Roboto Slab,sans-serif;text-shadow:0 1px 0 rgba(255,255,255,0.5)}
a{color:#555;-webkit-transition:all 0.1s linear;-moz-transition:all 0.1s linear;-o-transition:all 0.1s linear;-ms-transition:all 0.1s linear;transition:all 0.1s linear;}
a:hover{color:#333 !important}
strong{font-weight:bold}
#contents{background:rgba(255,255,255,0.7);margin:30px auto;padding:30px;text-align:center;max-width:900px;-webkit-box-shadow:0 10px 40px rgba(0,0,0,0.1);box-shadow:0 10px 40px rgba(0,0,0,0.1)}
body.tumblrized #contents{background:rgba(255,255,255,0.9);-webkit-box-shadow:0 10px 40px rgba(0,0,0,0.5);box-shadow:0 10px 40px rgba(0,0,0,0.5)}
#argument{font-size:24px;font-weight:bold;margin:0 0 30px 0;min-height:80px;text-align:left;}
#argument.loading{color:#999;font-weight:normal}
#argument.insult{text-align:center}
#argument.war{font-size:22px;}
#argument.war .username{font-weight:bold !important}
#argument.war blockquote{padding:0 0 0 35px;border-left:3px solid #ccc;margin:10px 0 20px 0}
#argument.war p{font-weight:normal}
.controls{margin:20px 0;display:block;}
.controls label{cursor:pointer}
.controls button{background:-webkit-linear-gradient(top, #fff, #eee);background:-moz-linear-gradient(top, #fff, #eee);background:-o-linear-gradient(top, #fff, #eee);background:-ms-linear-gradient(top, #fff, #eee);background:linear-gradient(to bottom, #fff, #eee);border:1px solid;border-color:#ddd #ccc #ccc #ddd;-webkit-border-radius:5px;border-radius:5px;cursor:pointer;font:16px/1.5 Roboto Slab,sans-serif;outline:none;padding:15px 50px;margin:0 10px;-webkit-transition:all 0.1s linear;-moz-transition:all 0.1s linear;-o-transition:all 0.1s linear;-ms-transition:all 0.1s linear;transition:all 0.1s linear;}
.controls button:active{background:-webkit-linear-gradient(top, #ddd, #eee);background:-moz-linear-gradient(top, #ddd, #eee);background:-o-linear-gradient(top, #ddd, #eee);background:-ms-linear-gradient(top, #ddd, #eee);background:linear-gradient(to bottom, #ddd, #eee);border-color:#aaa #ccc #ccc #aaa}
.controls button:hover{background:-webkit-linear-gradient(top, #eee, #ddd);background:-moz-linear-gradient(top, #eee, #ddd);background:-o-linear-gradient(top, #eee, #ddd);background:-ms-linear-gradient(top, #eee, #ddd);background:linear-gradient(to bottom, #eee, #ddd);opacity:1 !important;-ms-filter:none;filter:none}
.controls button.tumblrize-grammar{padding:10px 30px;opacity:.4;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";filter:alpha(opacity=40)}
.controls input[type=number]{font:16px/1.5 Roboto Slab,sans-serif;width:2em;padding:5px;margin-right:10px;border:1px solid #ccc;-webkit-border-radius:5px;border-radius:5px}
#footer{padding:10px 0 0 0;text-align:center;}
#footer .stats{margin:0 0 10px 0;color:rgba(0,0,0,0.4)}
#footer a{color:rgba(0,0,0,0.4) !important;}
#footer a:hover{color:#000 !important}
